[Unit]
Description=Alarm clock service
RefuseManualStart=false
RefuseManualStop=false

[Service]
Type=oneshot
ExecStart=%h/.config/systemd/user/start-alarmclock
