[Unit]
Description=Alarm clock timer (Can wake up system)

[Timer]
Unit=alarmclock.service
OnCalendar=*-*-* 6:20
WakeSystem=true
Persistent=true

[Install]
WantedBy=default.target
