[Unit]
Description=Alarm clock service
RefuseManualStart=false
RefuseManualStop=false

[Service]
Type=simple
ExecStart=/bin/bash %h/.config/systemd/user/start-alarmclock
